.horizontal, .vertical, .flex{
    display: flex;
}
.horizontal{
    flex-direction: row;
}
.vertical, .vertical-fill{
    flex-direction: column;
}
.vertical-fill, fill{
  height: 100%;
}
.wrap{
    flex-wrap: wrap;
}
