@import '../scene.variables.css';
@import 'styleguide';
.tn-scene-appbar--button {
    margin-left: 10px;
    align-self: center;
    color: var(--color-primary);
}
.tn-scene-appbar--breadcrumb {
    margin-left: 10px;
    align-self: center;    
}
.tn-scene-appbar--topMenu {
    width: var(--tn-scene-menu--width);
    height: var(--tn-scene-appbar--height);    
    text-align: center;
    font-size: -webkit-xxx-large;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
.tn-scene-appbar-wrapper{
  height: 100%;
}
