@import "../scene.variables.css";

.tn-menu-sidebar--logo{
  width: 180px;
  height: 180px;
  margin-top: 80px;
  margin-bottom: 20px;
}
.ui-sidebar-left{
  width: var(--tn-scene-menu--width);
}
.tn-menu-sidebar{
  background:#2399e5;
  height: 100%;
}

