<form class="vertical" #frm="ngForm" (ngSubmit)="login()">
  <input type="text" [(ngModel)]="model.email" rule="login.email" name="email" #emailCtrl="ngModel" (focusout)="onEmailFocusLost()" pInputText>
  <tn-error [control]="emailCtrl"></tn-error>
  <input type="password" [(ngModel)]="model.password" name="password" pInputText>
  <tn-site-selector [sites]="sites" *ngIf="showSelector()" (onSiteSelected)="setIdSitio($event)"></tn-site-selector>
  <div class="horizontal">
    <div class="one"></div>
    <button class="none" pButton type="submit" label="Login"></button>
  </div>
</form>
