@import 'styleguide';

.tn-ut__followups{
  padding: var(--padding-medium);
}
.tn-ut__followups__controls{
  padding-bottom: var(--padding-small);
}
.tn-ut__followups__agentes{
  padding-right: var(--padding-small);
}
