@import 'styleguide';
.tn-home__utlist{
  margin:var(--margin-medium);
  z-index: 0;
  overflow-x: overlay;
  text-align: center;
  @media(--gt-sm){
    width:75%;
  }
}
.tn-home__kanbanresume{
  margin: var(--margin-medium);
  @media(--gt-sm){
    width: 25%;
    height: fit-content;
    position: sticky;
    top: 85px;
  }
}
.tn-home{
  display: flex;
  flex-direction: column;
  @media(--gt-sm){
    flex-direction: row;
  }
}
