<div class="horizontal">
  <span class="ui-float-label">
    <input id="nombre-ut-textfield" type="text" size="30" [(ngModel)]="ut.Nombre" pInputText> 
    <label for="nombre-ut-textfield">Nombre UT</label>
  </span>
  <p-dropdown [options]="productos" optionLabel="name" [(ngModel)]="ut.IdProducto" filter="true" [style]="{'width':'250px'}" (onChange)="onProductChanged($event.value)"></p-dropdown>
  <p-dropdown [options]="workflows" optionLabel="name" [(ngModel)]="ut.IdWorkflow" filter="true" [style]="{'width':'250px'}"></p-dropdown>
  <p-dropdown [options]="proyectos" optionLabel="name" [(ngModel)]="ut.IdProyecto" filter="true" [style]="{'width':'250px'}"></p-dropdown>
  <p-dropdown [options]="tiposUT" optionLabel="name" [(ngModel)]="ut.IdTipoUT" filter="true" [style]="{'width':'250px'}"></p-dropdown>
  <p-dropdown [options]="sprints" optionLabel="name" [(ngModel)]="ut.IdVersion" filter="true" [style]="{'width':'250px'}"></p-dropdown>
  
</div>
