@import 'styleguide';

.tn-ut__search{
  display: flex;
  flex-direction: column-reverse;
  @media(--gt-sm){
    flex-direction: row;
  }
}

.tn-ut__fields{
  margin: var(--margin-medium);
  @media(--gt-sm){
    height: 100%;
  }
}

.tn-ut__field{
  padding: 0 0 10px 0;
  @media(--gt-sm){
    padding: 0 0 20px 0;
  }

}
  
.tn-ut__results{
  margin: var(--margin-medium);
}

