<!--
  
  This is how forms are done. If you want to instantiate it in your component use #variableName"ngForm" and
  then ViewChild('variableName') in your component. (ngSubmit) will trigger when a button of type="submit" is pressed.
  
  For the inputs you define [(ngModel)] which binds a value of your component to the value of the input. you must provide a name aswell.
  rule directive will validate this field using the information for foo.email defined in the configService, if you want to extend it go to the
  foldr config. To print validations you first instantiate the ngModel and then pass it to the component tn-error which prints all errors.
  You may want to group input and tn-error so they have the same size.
  
  DO NOT PUT ERROS ON THE SIDES, ALWAYS ON THE BOTTOM so use class vertical.


-->

<form class="vertical" #frm="ngForm" (ngSubmit)="onSubmit()">
  <input class="tn-example-form--input one" type="text" [(ngModel)]="foo.email" rule="foo.email" name="email" #emailCtrl="ngModel" pInputText>
  <tn-error [control]="emailCtrl"></tn-error>
  <input class="tn-example-form--input one" type="password" [(ngModel)]="foo.password" rule="foo.password" name="password" pInputText>
  <div class="horizontal">
    <div class="one"></div>
    <button class="none" pButton type="submit" label="Submit"></button>
  </div>
</form>
