<div class ="horizontal">
    <p-dataTable [value]="kanbanActivities" [responsive]="true" selectionMode="single" (onRowSelect)="filterKanbanActivies($event.data.IdActividad)">
        <p-column header="Actividad" field="NombreActividad"></p-column>       
        <p-column header="To Do" field="NumSeguimientosPendiente" [style]="{'width':'20%'}"></p-column>   
        <p-column header="Doing" field="NumSeguimientosProgreso"  [style]="{'width':'20%'}"></p-column>                
    </p-dataTable>
</div>
