<div class ="horizontal">
    <p-dataTable [value]="kanbanActivities" [responsive]="true" selectionMode="single">
        <p-column header="Actividad">            
                <ng-template let-activity="rowData" let-i="rowIndex" pTemplate="body">
                    <span (click)="filterKanbanActivies(activity.IdActividad, 'ALL')" class="tn-home-kanban_resume--span">{{activity.NombreActividad}}</span>
                </ng-template>
            </p-column>       
        <p-column header="To Do" [style]="{'width':'20%'}">            
            <ng-template let-activity="rowData" let-i="rowIndex" pTemplate="body">
                <span (click)="filterKanbanActivies(activity.IdActividad, 'TO DO')" class="tn-home-kanban_resume--span">{{activity.NumSeguimientosPendiente}}</span>
            </ng-template>
        </p-column>   
        <p-column header="Doing" [style]="{'width':'20%'}">            
            <ng-template let-activity="rowData" let-i="rowIndex" pTemplate="body" >
                <span (click)="filterKanbanActivies(activity.IdActividad, 'DOING')" class="tn-home-kanban_resume--span">{{activity.NumSeguimientosProgreso}}</span>
            </ng-template>
        </p-column>                
    </p-dataTable>
</div>
