:root {
  --color-primary: #5e35b1;

  --color-info__text: #FFFFFF;
  --color-info__background: #0288D1;
  --color-info__border: #01579B;

  --color-warning__text: #FFAB00;
  --color-warning__background: #FFF8E1;
  --color-warning__border: #FFC400;

  --color-error__text: #D50000;
  --color-error__background: #FFCDD2;
  --color-error__border: #FF1744;
}

