:root {
  --color-light: #FFFFFF;
  --color-dark: #676A6C;

  --color-primary: #00AA8D;
  --color-primary--light: #00BF9A;
  --color-primary--dark: #008975;

  --color-secondary: #455A64;
  --color-secondary--light: #90A4AE;
  --color-secondary-dark: #263238;

  --color-background: #FAFAFA;    
  --color-background--strong: #E0E0E0;
  --color-background--dark: #F5F5F5;
  --color-background--light: #FFFFFF;

  --color-info__text: #FFFFFF;
  --color-info__background: #0288D1;
  --color-info__border: #01579B;

  --color-warning__text: #FFAB00;
  --color-warning__background: #FFF8E1;
  --color-warning__border: #FFC400;

  --color-error__text: #D50000;
  --color-error__background: #FFCDD2;
  --color-error__border: #FF1744;
}

