<p-accordion [multiple]="true">
  <p-accordionTab header="Detalles" [selected]="true">
    <form class="tn-ut__form vertical" #frm="ngForm" (ngSubmit)="frm.valid && onGuardar()">
      <div class="horizontal tn-ut__form__row">
        <div class="vertical one tn-ut__form__section">
          <label>Código</label>
          <input id="disabled-input" type="text" pInputText [(ngModel)]="model.IdUT" name="codigo" #codigoCtrl="ngModel" [disabled]="true"
          />
        </div>
        <div class="vertical seven tn-ut__form__section">
          <label>Nombre</label>
          <input id="input" type="text" pInputText [(ngModel)]="model.Nombre" name="nombre" #nombreCtrl="ngModel" [disabled]="!editingMode">
        </div>
        <div class="horizontal none tn-ut__form__buttons">
          <button *ngIf="!editingMode" pButton type="button" class="tn-ut__form__detail_button" icon="fa fa-pencil-square-o" label="Editar" (click)="onEditar()"></button>
          <button *ngIf="editingMode" pButton type="submit" class="tn-ut__form__detail_button" icon="fa fa-floppy-o" label="Guardar"></button>
          <button *ngIf="editingMode" pButton type="button" class="tn-ut__form__detail_button" icon="fa fa-times" label="Cancelar" (click)="onCancelar()"></button>
        </div>
      </div>
      <div class="horizontal tn-ut__form__row">
        <div class="vertical two tn-ut__form__section">
          <label>Producto</label>
          <p-dropdown [options]="productosDisponibles" [(ngModel)]="model.IdProducto" name="producto" #productoCtrl="ngModel"
            [disabled]="!editingMode" filter="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="vertical two tn-ut__form__section">
          <label>Sprint</label>
          <p-dropdown [options]="sprintsDisponibles" [(ngModel)]="model.IdVersion" name="sprint" #sprintCtrl="ngModel" [disabled]="!editingMode"
            filter="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="vertical none tn-ut__form__section">
          <label>Orden</label>
          <p-spinner [step]=10 [min]=0 [(ngModel)]="model.Orden" name="orden" #ordenCtrl="ngModel" [disabled]="!editingMode"></p-spinner>
        </div>
      </div>
      <div class="horizontal tn-ut__form__row">
        <div class="vertical five tn-ut__form__section">
          <label>Workflow</label>
          <p-dropdown [options]="workflowsDisponibles" [(ngModel)]="model.IdWorkflow" name="workflow" #workflowCtrl="ngModel" [disabled]="!editingMode"
            filter="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="vertical three tn-ut__form__section">
          <label>Tipo</label>
          <p-dropdown [options]="tiposDisponibles" [(ngModel)]="model.IdTipoUT" name="tipo" #tipoCtrl="ngModel" [disabled]="!editingMode"
            filter="true" [style]="{'width':'100%'}">
            <ng-template let-tipoUT pTemplate="item">
              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <i [ngClass]="getUtTypeIcon(tipoUT.value)"></i>
                <div style="font-size:14px;float:right;margin-top:4px">{{tipoUT.label}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="vertical five tn-ut__form__section">
          <label>Proyecto</label>
          <p-dropdown [options]="proyectosDisponibles" [(ngModel)]="model.IdProyecto" name="proyecto" #proyectoCtrl="ngModel" [disabled]="!editingMode"
            filter="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
      </div>
      <div class="vertical tn-ut__form__section tn-ut__form__row">
        <label>Descripción</label>
        <textarea rows="5" pInputTextarea [(ngModel)]="model.Descripcion" name="descripcion" #descripcionCtrl="ngModel" [disabled]="!editingMode"
          [style]="{'width':'100%'}"></textarea>
      </div>
    </form>
  </p-accordionTab>
  <p-accordionTab header="Actividades" [selected]="true">
    <ut-followup [utId]="model.IdUT" [productoId]="model.IdProducto"></ut-followup>
  </p-accordionTab>
</p-accordion>
