<form class="vertical" #frm="ngForm" (ngSubmit)="frm.valid && onGuardar()">
  <div class="ui-g">
  <div class="ui-g-4 ui-md-2 ui-lg-1">
    Código
  </div>
  <div class="ui-g-3 ui-md-2 ui-lg-1">
    <input id="disabled-input" type="text" size= "4" pInputText [(ngModel)]= "model.IdUT" name="codigo" #codigoCtrl="ngModel" [disabled]="true" />
  </div>
  <div class="ui-g-4 ui-md-2 ui-lg-1">
    Nombre
  </div>
  <div class="ui-g-20 ui-md-10 ui-lg-5">
    <input id="input" type="text" size="50" pInputText [(ngModel)]="model.Nombre" name="nombre" #nombreCtrl="ngModel" [disabled]= "!editingMode"> 
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button *ngIf="!editingMode" pButton type="button" label="Editar" (click)="onEditar()"></button>
      <button *ngIf="editingMode" pButton type="submit" label="Guardar"></button>
      <button *ngIf="editingMode" pButton type="button" label="Cancelar" (click)="onCancelar()"></button>
  </div>
</div>
<div class="ui-g">
    <div class="ui-g-4 ui-md-2 ui-lg-1">
        Producto
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <p-dropdown [options]="productosDisponibles" [(ngModel)]="model.IdProducto" name="producto" #productoCtrl="ngModel" optionLabel= "IdProducto" [disabled]= "!editingMode" filter="true" [style]="{'width':'250px'}"></p-dropdown>
    </div>
    <div class="ui-g-4 ui-md-2 ui-lg-1">
        Sprint
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <p-dropdown [options]="sprintsDisponibles" [(ngModel)]="model.IdVersion" name="sprint" #sprintCtrl="ngModel" [disabled]= "!editingMode" filter="true" [style]="{'width':'200px'}"></p-dropdown>
    </div>
    <div class="ui-g-4 ui-md-2 ui-lg-1">
        Orden
      </div>
      <div class="ui-g-6 ui-md-4 ui-lg-2">
        <input id="input" type="number" size="4" pInputText [(ngModel)]="model.Orden" name="orden" #ordenCtrl="ngModel" [disabled]= "!editingMode"> 
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-4 ui-md-2 ui-lg-1">
      Workflow
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <p-dropdown [options]="workflowsDisponibles" [(ngModel)]="model.IdWorkflow" name="workflow" #workflowCtrl="ngModel" [disabled]= "!editingMode" filter="true" [style]="{'width':'250px'}"></p-dropdown>
    </div>
    <div class="ui-g-4 ui-md-2 ui-lg-1">
        Tipo
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <p-dropdown [options]="tiposDisponibles" [(ngModel)]="model.IdTipoUT" name="tipo" #tipoCtrl="ngModel" [disabled]= "!editingMode" filter="true" [style]="{'width':'200px'}">
          <ng-template let-tipoUT pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <i [ngClass]="getUtTypeIcon(tipoUT.value)"></i>
                <div style="font-size:14px;float:right;margin-top:4px">{{tipoUT.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    <div class="ui-g-4 ui-md-2 ui-lg-1">
        Proyecto
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
          <p-dropdown [options]="proyectosDisponibles" [(ngModel)]="model.IdProyecto" name="proyecto" #proyectoCtrl="ngModel" [disabled]= "!editingMode" filter="true" [style]="{'width':'250px'}"></p-dropdown>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-4 ui-md-2 ui-lg-1">
        Descripción
      </div>
      <div class="ui-g-30 ui-md-20 ui-lg-10">
          <textarea rows="5"  pInputTextarea  [(ngModel)]="model.Descripcion" name="descripcion" #descripcionCtrl="ngModel" [disabled]= "!editingMode" cols="120"></textarea>
      </div>
</div>
</form>

