@import 'styleguide';

.tn-home__form{
  padding: var(--padding-medium);
  flex-wrap: wrap;
}
.tn-home__form__section{
  padding: var(--padding-small);
}
.tn-home__form__dropdown{
  width: 100%;
}
.tn-home__form__input{
  width: 25%;
}
.tn-home__form__button{
  margin-left: var(--margin-small);
}
