<form class="tn-home__form horizontal">
  <div class="vertical two tn-home__form__section">
    <label>Agente</label>
    <p-dropdown [options]="agentes" optionLabel="name" [(ngModel)]="filtro.IdAgente" [style]="{'width':'100%'}" (onChange)="onFilterChange()" filter="true" name="agente"></p-dropdown>
  </div>
  <div class="vertical two tn-home__form__section">
    <label>Producto</label>
    <p-dropdown [options]="productos" optionLabel="name" [(ngModel)]="filtro.IdProducto" [style]="{'width':'100%'}" filter="true" name="producto" (onChange)="onProductChanged($event.value)"></p-dropdown>
  </div>
  <div class="vertical two tn-home__form__section">
    <label>Sprint</label>
    <p-dropdown [options]="sprints" optionLabel="name" [(ngModel)]="filtro.IdVersion" [disabled]="noProductoSelected" [style]="{'width':'100%'}" (onChange)="onFilterChange()" filter="true" name="sprint"></p-dropdown>
  </div>
  <div class="vertical two tn-home__form__section">
    <label>Proyecto</label>
    <p-dropdown [options]="proyectos" optionLabel="name" [(ngModel)]="filtro.IdProyecto" [disabled]="noProductoSelected" [style]="{'width':'100%'}" (onChange)="onFilterChange()" filter="true" name="proyecto"></p-dropdown>
  </div>
  <div class="vertical one tn-home__form__section">
    <label>Ir a...</label>
    <input type="number" pInputText [(ngModel)]="IdUT" name="IdUT"/>
  </div>
  <button pButton type="button" class="tn-home__form__button" label="Ir" [disabled]="isIrAEmpty()"  (click)="irAUT()"></button>  
</form>
